:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --accent-color: #2196f3;
  --font-color: #212121;
  --nav-color: #757575;
  --icon-color: #afb1b8;
  --section-pt: 94px;
  --section-pb: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

================================================= body {
  background-color: #e5e5e5;
  color: var(--font-color);
  font-family: var(--main-font);
}

header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--font-color);
  font-family: var(--main-font);
}

main {
  color: var(--font-color);
  font-family: var(--main-font);
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ============ header ============ */

header .container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 24px 15px;
  border-bottom: 1px solid #ececec;
}

/* ============ end header ============ */

/* ============ Logo ============ */
.logo-header {
  margin-right: 93px;
  color: var(--font-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.web {
  color: var(--accent-color);
}

/* ============ nav ============ */
.site-nav {
  display: flex;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.site-nav .link {
  color: var(--font-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.navigation-item > .link {
  position: relative;

  padding-top: 32px;
  padding-bottom: 31px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.mail-list-icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.smartphone-list-icon {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.contact-item .link {
  display: flex;
  align-items: center;
}

.auth-nav .link {
  color: var(--nav-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .active {
  color: var(--accent-color);
}
/* ============ end nav ============ */

/* ============ hero ============ */
.hero-container {
  padding: 200px 15px;
  margin-bottom: var(--section-pb);
  margin: 0 auto;
  max-width: 1600px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../Images/Hero/img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.hero-button {
  margin: 0 auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  background-color: var(--accent-color);
  color: #ffffff;
  border-radius: 4px;
  border: 0px var(--accent-color);
  cursor: pointer;
}

.hero-button::focus {
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ============ end hero ============ */

/* ============ advantage ============ */
.advantage {
  display: flex;
}
.advan {
  padding-bottom: 0;
}
.advantage .item:nth-child(1) {
  margin-left: 0px;
}
.advantage > .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.advantage-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}
.advantage-text {
  font-size: 14px;
  line-height: 1.71;
}

.advantage-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.advantage-icon-antenna {
  width: 64px;
  height: 70px;
}

.advantage-icon-clock {
  width: 66px;
  height: 70px;
}

.advantage-icon-diagram {
  width: 70px;
  height: 54px;
}

.advantage-icon-astronaut {
  width: 54px;
  height: 60px;
}
/* ============ end advantage ============ */

/* ============ work============ */

.list-work {
  display: flex;
  justify-content: space-between;
}

.list-work-item {
}

.work {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.list-work-wrapper {
  position: relative;
}

.list-work-text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* overflow: scroll; */
}

/* ============ end work ============ */

/* ============ team ============ */
.team {
  display: flex;
  justify-content: space-between;
}

.team-flex {
  text-align: center;
  padding: 30px 32px;
}

.description {
  background-color: #f5f4fa;
}

.team-item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.team-title-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}

.team-title-profession {
  font-size: 16px;
  line-height: 1.17;
  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #fff;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============ end team ============ */

/* ============ clients ============ */
.clients {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--font-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: -30px;
}

.clients-list-item {
  margin-left: 30px;
}

.clients-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: ;
  width: 170px;
  height: 90px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-wrapper:hover,
.clients-list-wrapper:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
  color: var(--accent-color);
  outline: none;
}

.clients-list-wrapper:hover .clients-icon,
.clients-list-wrapper:focus .clients-icon {
  fill: currentColor;
}

.clients-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============ end clients ============ */

/* ============ opportunities ============ */
.opportunities {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.opportunities-item + .opportunities-item {
  margin-left: 8px;
}

.opportunities-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.opportunities-button:hover,
.opportunities-button:focus {
  background-color: var(--accent-color);
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ============ end opportunities ============ */

/* ============ products ============ */
.gallery {
  padding-top: 94px;
  padding-bottom: 156px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.products-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item:hover,
.products-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cart-content {
  padding: 20px 24px;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-top: none;
}

.products-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--font-color);
}

.products-cat {
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
}
/* ============ end products ============ */

/* ============ footer ============ */
footer {
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.logo-footer {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-item + .address-item {
  margin-top: 9px;
}

.address-text {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  font-style: normal;
  font-family: var(--main-font);
  font-weight: 400;
}

.mail-tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

.footer-social-links-title {
  display: inline-block;
  align-items: center;
  margin-bottom: 20px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-links {
  display: block;
  box-sizing: border-box;
}

.footer-social-links {
  margin-left: 70px;
}

footer .container {
  display: flex;
  align-items: baseline;
}

footer .social-list {
  justify-content: space-between;
  padding: 0;
}

footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

footer .social-list-item:not(:last-child):not(:last-child) {
  margin-right: 10px;
}

footer .social-list-icon {
  fill: #fff;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.footer-subscribe-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #fff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe {
  display: flex;
  position: relative;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.subscribe-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  padding-left: 29px;
  text-align: left;

  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
}

.subscribe-icon {
  position: absolute;
  fill: #fff;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

/* ============ end footer ============ */

/* ============ overlay ============ */

.team-list-content-wrapper {
  position: relative;
  overflow: hidden;
}

.team-list-link-wrapper:hover .overlay,
.team-list-link-wrapper:focus .overlay {
  transform: translateY(0%);
}

.overlay {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  /* overflow: scroll; */
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============ end overlay ============ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close {
  fill: var(--accent-color);
}

.modal-close-btn:focus {
  fill: var(--accent-color);
  outline: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field:nth-last-child(4) {
  margin-bottom: 20px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--font-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-massege {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
}

.modal-form-massege::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-massege:focus {
  border-color: var(--accent-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-chek-deck::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-term:checked + .modal-form-chek-deck::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url('../Images/vector.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.modal-form-term:focus + .modal-form-chek-deck::before .modal-form-chek-deck {
  display: flex;
  align-items: center;
}

.modal-form-term:focus + .modal-form-chek-deck::before {
  border: 2px solid var(--accent-color);
}

.modal-form-chek-deck {
  display: flex;
  font-size: 14px;
  line-height: 1.14;
}

.modal-form-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-form-btn {
  min-width: 200px;
  color: #fff;
  align-self: center;
  background-color: var(--accent-color);
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 4px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;

  font-style: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
