.advantage {
  display: flex;
}
.advan {
  padding-bottom: 0;
}
.advantage .item:nth-child(1) {
  margin-left: 0px;
}
.advantage > .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.advantage-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}
.advantage-text {
  font-size: 14px;
  line-height: 1.71;
}

.advantage-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.advantage-icon-antenna {
  width: 64px;
  height: 70px;
}

.advantage-icon-clock {
  width: 66px;
  height: 70px;
}

.advantage-icon-diagram {
  width: 70px;
  height: 54px;
}

.advantage-icon-astronaut {
  width: 54px;
  height: 60px;
}
